@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

p, input, textarea, button, td, tr, span {
  color: #161616;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Loading Animation Spinner
From: https://codepen.io/webhead/pen/WNoedWG */

@keyframes loadingspinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* For small loading modal  */
.loading-spinner {
  @apply w-12 h-12 border-2 border-primary border-solid border-t-transparent rounded-full inline-block;
  animation: loadingspinner 1s linear infinite;
}

/* For loading screen (e.g. dashboard UI)  */
.big-loading-spinner {
  @apply w-24 h-24 border-4 border-primary border-solid border-t-transparent rounded-full inline-block;
  animation: loadingspinner 1s linear infinite;
}
